.Auth {
    background-color: #282c34;
    text-align: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}

.Auth form {
    gap: 7px;
    display: flex;
    flex-direction: column;
    text-align: start;
    font-size: 1.3em;
}

.Auth form input {
    font-size: 0.8em;
    padding: 5px;
    margin-bottom: 5px;
}

.Auth button {
    background-color: #39465f;
    color: white;
    border: none;
    margin-top: 10px;
    padding: 7px 0;
    border-radius: 5px;
    font-size: 0.7em;
}

.Auth button:hover {
    background-color: #4f6183;
    cursor: pointer;
}

.Auth .redirect {
    margin-top: 5px;
    display: flex;
    font-size: 0.9em;

    &:hover {
        cursor: pointer;
    text-decoration: underline;
    }
}